body{
	background-color: #128DA6;
}
.doboz{

}
.kisdoboz{
  width: 90%;
}
.navigacio {
  overflow: hidden;
  background-color: #969696;

}

.navigacio a {
  margin-left: 1%;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 35px;
  text-decoration: none;
  font-size: 25px;
  letter-spacing: 1px;
  font-family: Lucida Console;

}

.navigacio a:hover {
  background-color: #7a7a7a;
  color: black;
}
.keprolam{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  
  text-align: center;
  vertical-align: middle;
}
.keprolam img{
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  text-align: center;
  float: right;
  vertical-align: top;
}
.cimek{
	margin-top: 15%;
	margin-left: 15%;
	font-size: 40px;
	font-family: Lucida Console;
	color: white;
  float: left;
  width: 30%;
  display: table-cell;
}
.rolamszoveg{
	margin-top: 10%;
	margin-left: 5%;
	font-size: 20px;
	color: white;
  float: left;
  width: 40%;
  display: table-cell;
  font-family: Lucida Console;
}
.munkaimszoveg{
	margin-top: 3%;
	font-size: 20px;
	margin-left: 2%;
	width: 80%;
	color: white;
  float: left;
  display: table-cell;
  font-family: Lucida Console;
}
.hogyankeszultszoveg{
	margin-top: 5%;
	margin-left: 5%;
	font-size: 20px;
	color: white;
  float: left;
  width: 60%;
  display: table-cell;
  font-family: Lucida Console;
}
.kisdoboz2{
	margin-top: 1%;
	margin-left: 5%;
	font-size: 40px;
	color: white;
  float: left;
  width: 40%;
  display: table-cell;
  font-family: Lucida Console;
}
.kepmunkaim1{
  width: 50%;
  margin-top: 1%;
  text-align: center;
  float: left;
  vertical-align: top;
}
.kepmunkaim2{
  width: 50%;
  margin-top: 1%;
  text-align: center;
  float: right;
  vertical-align: top;
}
.kephogyankeszult{
	margin-left: 5%;
	font-size: 20px;
	color: white;
  float: left;
  width: 60%;
  display: table-cell;
}
.alsoszoveg {
  list-style: none;
  float:bottom;
  position: fixed;
  bottom: 20px;
  font-family: Lucida Console;
  color: white;
}
.alsoszoveg a{
	text-decoration: none;
	cursor: pointer;
	color: white;
}
.munkaimdoboz{
	margin-left: auto;
	margin-right: auto; 
	width: 85%;
	display: flex;
}